html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 15px;
  background-color: #FFF;
  font-family: 'Open Sans', serif;
}

footer {
  bottom: 0;
  width: 100%;
  color: #CCC;
  height: 50px;
  font-size: 12px;
  padding-top: 30px;
  text-align: center;
  position: absolute;
  margin-bottom: 20px;
  box-sizing: border-box;
}

footer:before {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear:after {
  clear: both;
}

.button,
.button:visited {
  color: #222;
  padding: 10px;
  margin: 0px 5px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #000;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', 'Open Sans', serif;
}

.button:hover {
  color: #FFF;
  border: 1px solid #000;
  background-color: #222;
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  text-align: center;
  position: relative;
}

.page {
  min-width: 100%;
  padding-bottom: 50px;
  display: inline-block;
}

.page-content,
.communication,
.contact {
  padding: 15px;
  box-sizing: border-box;
}

.page-content {
  width: 65%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .page-content,
  .communication,
  .contact {
    width: 100%;
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .page {
    min-width: 100%;
  }
  .page-content,
  .contact {
    float: left;
  }
  .sidebar-wrapper {
    width: 35%;
    float: left;
    position: relative;
  }
  .communication {
    float: right;
  }
  .communication:after {
    clear: both;
  }
  .communication,
  .contact {
    width: 100%;
    max-width: 330px;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .page {
    min-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .page {
    min-width: 1280px;
  }
}

@media screen and (min-width: 1600px) {
  .page {
    min-width: 1600px;
  }
}

.grey {
  color: #CCC;
}

.communication h1,
.contact h1 {
  color: black;
  margin: 0px;
  padding: 0px;
  font-size: 65px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Roboto', 'Open Sans', serif;
}

.communication h1 span,
.contact h1 span {
  display: block;
  margin-top: -10px;
}

.communication h1 span.grey,
.contact h1 span.grey {
  margin-top: -20px;
}

.communication h2,
.contact h2 {
  color: black;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
  text-transform: uppercase;
  font-family: 'Roboto', 'Open Sans', serif;
}

a.light-link,
a.light-link:visited,
.communication a,
.contact a,
.communication a:visited,
.contact a:visited {
  color: #3399FF;
  text-decoration: none;
}

a.light-link:hover,
.communication a:hover,
.contact a:hover {
  text-decoration: underline;
}

.communication .links,
.contact .links {
  width: 100%;
  margin-top: 10px;
}

.communication .links .link,
.contact .links .link {
  width: 100%;
  height: 35px;
  display: block;
  margin-bottom: 5px;
}

.communication .links a,
.contact .links a,
.communication .links a:visited,
.contact .links a:visited {
  color: #FFF;
  width: 300px;
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 8px;
  display: inline-block;
  text-decoration: none;
  background-color: #000;
  box-sizing: border-box;
}

.communication .links a:hover,
.contact .links a:hover {
  color: #3399FF;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .communication .links a,
  .contact .links a {
    width: 100%;
    display: block;
    padding: 5px 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }

  .about,
  .languages,
  .volunteer,
  .education,
  .contact-info {
    display: none;
  }

  .contact-me {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .contact-me {
    display: none;
  }
}

.page-content h1 {
  font-size: 25px;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #CCC;
  font-family: 'Roboto', 'Open Sans', serif;
}

.page-content h1 span.little {
  font-size: 13px;
  margin-right: 5px;
  margin-left: 20px;
}

.page-content h1 .view-more {
  color: black;
  text-decoration: none;
}

.page-content h1 .view-more:hover {
  text-decoration: underline;
}

.page-content section {
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
}

.page-content section p {
  margin-top: 0px;
  padding-top: 0px;
}

.employment {
  max-width: 700px;
  margin-bottom: 40px;
}

.employment img {
  width: auto;
  height: 50px;
  max-height: 50px;
}

.employment .employment-info {
  width: 100%;
  min-height: 50px;
}

.employment .employment-info:after {
  clear: both;
}

.employment .employment-info .left:nth-child(2) {
  margin-left: 20px;
}

.employment h2,
.employment h3 {
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
}

.employment h2 {
  font-size: 14px;
}

.employment h3 {
  font-size: 11px;
}

.employment .employment-position {
  font-size: 18px;
  margin-right: 10px;
}

.employment .employment-name {
  font-size: 18px;
  margin-left: 10px;
}

.employment .employment-content {
  clear: both;
  width: 100%;
  padding: 1px 10px;
  box-sizing: border-box;
}

.employment .employment-content ul {
  margin: 2px 0px;
  padding-left: 25px;
}

.project {
  width: 100%;
  display: table;
  margin-bottom: 10px;
}

.project .project-info {
  margin-bottom: 5px;
}

.project .project-info:after {
  clear: both;
}

.project .project-image {
  width: 400px;
  height: 350px;
}

.project .project-image .image {
  width: 99%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project .project-content {
  width: 500px;
  padding-left: 5px;
  margin-left: 400px;
  box-sizing: border-box;
}

.project .project-content h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.project .project-image,
.project .project-content {
  display: table-cell;
  vertical-align: top;
}

.project .project-links {
  width: 100%;
  margin-left: -5px;
  text-align: left;
  padding-bottom: 8px;
}

@media screen and (max-width: 1024px) {
  .project {
    min-height: 650px;
  }
  .project .project-image {
    width: 100%;
    height: 500px;
    display: block;
  }
  .project .project-image .image {
    display: block;
  }
  .project .project-content {
    width: 100%;
    display: block;
    margin-left: 0px;
  }
}

.random {
  width: 100%;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
}

.random iframe {
  width: 100%;
  height: 600px;
}

.blog-target {
  width: 100%;
}

.blog-target .blog-post {
  width: 100%;
  min-height: 100px;
}

.blog-target .blog-post.blog-post-short {
  margin-bottom: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #CCC;
}

.blog-target .blog-post.blog-post-short:first-child {
  padding-top: 0px;
}

.blog-target .blog-post.blog-post-short p {
  padding-bottom: 5px;
}

.blog-target .blog-post.blog-post-short p:last-child {
  color: #808080;
  padding-top: 25px;
  font-style: italic;
}

.blog-post .blog-clickthrough,
.blog-post .blog-clickthrough:visited {
  color: #404040;
  font-size: 24px;
  text-decoration: none;
}

.blog-post .blog-clickthrough:hover {
  color: #3399FF;
  text-decoration: none;
}

.blog-post h2 {
  margin: 0px;
  padding: 0px;
}

.blog-post p {
  margin: 0px;
  padding: 0px;
}

.navigation {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  position: relative;
}

.navigation .next-page,
.navigation .prev-page {
  width: 100px;
  color: #3399FF;
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #CCC;
  text-decoration: none;
}

.navigation .next-page:hover,
.navigation .prev-page:hover {
  color: #3399FF;
  cursor: pointer;
  border: 1px solid #222;
  text-decoration: none;
}

.navigation .next-page {
  right: 5px;
  position: absolute;
}

.navigation .prev-page {
  left: 5px;
  position: absolute;
}

.blog-post-date {
  color: #CCC;
  margin-top: 50px;
  padding-top: 10px;
  font-style: italic;
  border-top: 1px solid #CCC;
}
